{% extends "base.html" %}
{% load account %}
{% block title %}<title>Confirm E-mail Address</title>{% endblock %}
{% block content %}
<main>
    <section class="inner-page pt-4 mt-5">
        <div class="container col-md-12 mt-5">
            <div class="shadow card mb-5 bg-white rounded col-md-4 mx-auto p-0">
                <div class="card-header" style="background-color: #71c55d; color: white;">
                    <h3 class="text-center">Confirm E-mail Address</h3>
                </div>
                <div class="card-body">
                    {% if confirmation %}
                        {% user_display confirmation.email_address.user as user_display %}
                        <p>
                            {% with confirmation.email_address.email as email %}
                                Please confirm that 
                                <a href="mailto:{{ email }}">{{ email }}</a> 
                                is an e-mail address for user {{ user_display }}.
                            {% endwith %}
                        </p>

                        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                            {% csrf_token %}
                            <button type="submit" class="btn-get-started">Confirm</button>
                        </form>

                    {% else %}
                        {% url 'account_email' as email_url %}
                        <p>
                            This e-mail confirmation link expired or is invalid. Please
                            <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}