{% extends "base.html" %}
{% load account %}
{% block title %}<title>Password Reset</title>{% endblock %}
{% block content %}
<main>
    <section class="inner-page pt-4 mt-5">
        <div class="container col-md-12 mt-5">
            <div class="shadow card mb-5 bg-white rounded col-md-4 mx-auto p-0">
                <div class="card-body">
                    <h3 class="card-title">Password Reset</h3>

                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}

                    <p class="card-text">
                        We have sent you an e-mail. If you have not received it please
                        check your spam folder. Otherwise
                        contact us if you do not receive it in a few minute.
                    </p>
                </div>

            </div>
        </div>
    </section>
</main>
{% endblock %}