{% extends 'base.html' %}
{% block title %}<title>Sign Up</title>>{% endblock %}
{% block content %}
<main>
    <section class="inner-page pt-4 mt-5">
        <div class="container col-md-12 mt-5">
            <div class="shadow card mb-5 bg-white rounded col-md-4 mx-auto p-0">
                <div class="card-header" style="background-color: #71c55d; color: white;">
                    <h3 class="text-center">Sign Up</h3>
                </div>

                <div class="card-body text-center">
                    <p>
                        Already have an account? Then please
                        <a href="{{ login_url }}">sign in</a>
                    </p>

                    {% for error in form.non_field_errors %}
                        <div class="alert alert-error">
                            <strong style="color: red">{{ error|escape }}</strong>
                        </div>
                    {% endfor %}

                    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}

                        {% include "account/snippets/form_input.html" with label="Name:" type="text" name="name" icon="person" %}
                        {% include "account/snippets/form_input.html" with label="E-mail:" type="email" name="email" icon="envelope-at" %}
                        {% include "account/snippets/form_input.html" with label="Password:" icon="lock" type="password" name="password1" autocomplete="new-password" %}
                        {% include "account/snippets/form_input.html" with label="Password (again):" icon="lock" type="password" name="password2" autocomplete="new-password" %}

                        
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}

                        <button type="submit" class="btn-get-started col-md-4">Sign Up &raquo;</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}