{% extends "base.html" %}
{% block head_title %}Verify Your E-mail Address{% endblock %}
{% block content %}
<main>
    <section class="inner-page pt-4 mt-5">
        <div class="container col-md-12 mt-5">
            <div class="shadow card mb-5 bg-white rounded col-md-4 mx-auto p-0">
                <div class="card-body">
                    <h1>Verify Your E-mail Address</h1>
                    <p>
                        We have sent an e-mail to you for verification. Follow the link provided to 
                        finalize the signup process. If you do not see the verification e-mail in your 
                        main inbox, check your spam folder. Please contact us if you do not receive the 
                        verification e-mail within a few minutes.
                    </p>      
                </div>  
            </div>
        </div>
    </section>
</main>
{% endblock %}
