{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Poll4Dates</title>{% endblock title %}

{% block content %}
<section id="hero">
    <div class="hero-container" data-aos="fade-in">
        <h1>Welcome to poll4dates</h1>
        <h2>Connect anywhere around the globe. Coordinate across timezones with Poll4Dates.</h2>
        <img src="{% static 'polls/img/hero-img.png' %}" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100">
        <a href="{% url 'polls:plan' %}" class="btn-get-started scrollto">Plan Event</a>
    </div>
</section>

<main id="main">
    <section id="get-started" class="padd-section text-center">
        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">
                <h2>Let us show you how</h2>
                <p class="separator">Simply create a poll with any number of date and time options for your event.
                    Then send the poll to your guests either by sharing the general link to the poll or by having
                    Poll4Dates send them an email invitation to vote in the poll. That’s it! You can watch the
                    votes come in real-time as your guests enter their preferences. When ready, pick the best
                    date/time for the event directly from the poll. Check out our Help Center for more details.
                </p>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="feature-block">
                        <img src="{% static 'polls/img/svg/one.svg' %}" alt="img">
                        <p style="font-size:20px">
                            Select date/time options for your event and share with your friends.
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                    <div class="feature-block">
                        <img src="{% static 'polls/img/svg/two.svg' %}" alt="img">
                        <p style="font-size:20px">
                            Without having to log in, your friends can mark their availability for
                            the proposed dates.
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="feature-block">
                        <img src="{% static 'polls/img/svg/three.svg' %}" alt="img">
                        <p style="font-size:20px">Schedule your event on the date that works for everyone!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="features" class="padd-section text-center">
        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">
                <h2>Use Cases</h2>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-md-6 col-lg-4">
                    <div class="feature-block">
                        <img src="{% static 'polls/img/svg/family.svg' %}" alt="img">
                        <h4>Family Reunion</h4>
                        <p>Time to plan the summer family reunion and bring everyone together! Get in touch with
                            uncle Webb and cousin Sabby to pick a date before calendars fill up.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="feature-block">
                        <img src="{% static 'polls/img/svg/basketball.svg' %}" alt="img">
                        <h4>Pickup Basketball</h4>
                        <p>Ready to shoot some hoops? Use Poll4Dates to find a time to head outdoors for a match with
                            friends.
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="feature-block">
                        <img src="{% static 'polls/img/svg/meeting.svg' %}" alt="img">
                        <h4>Board Meeting</h4>
                        <p>Is it hard to find a time when board members can attend a meeting? Poll4Dates is the
                            perfect tool to schedule meetings without back-and-forth email hassle.
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="feature-block">
                        <img src="{% static 'polls/img/svg/book.svg' %}" alt="img">
                        <h4>Book Club</h4>
                        <p>Scheduling a book club meeting can mean a million email chains. Simply survey your book
                            club members to see when they are available.
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="feature-block">
                        <img src="{% static 'polls/img/svg/bbq.svg' %}" alt="img">
                        <h4>Weekend BBQ</h4>
                        <p>Get friends together for a weekend BBQ in the park or at your house. Find what day works
                            best without lengthy email chains.
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="feature-block">
                        <img src="{% static 'polls/img/svg/golf.svg' %}" alt="img">
                        <h4>Round of Golf</h4>
                        <p>Meet and play golf with friends. Investing time in what brings you joy is worth it!
                            Quickly find the time that works for everyone with Poll4Dates.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="testimonials" class="padd-section text-center">
        <div class="container" data-aos="fade-up">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="testimonials-content">
                        <div id="carousel-example-generic" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item  active">
                                    <div class="top-top">
                                        <h2>Our Users Speack volumes us</h2>
                                        <p>I run an informal tennis club where I need a really good polling program
                                            in order to arrange matches for my 40-odd,
                                            not-very-technologically-savvy, members. I was delighted to discover
                                            Poll4Dates. In its simplicity of use and its quality of output it
                                            surpasses by a long chalk what I had used before. It is an outstanding
                                            piece of software which I heartily recommend to anyone who has to try to
                                            organise events for a club, society or similar grouping.
                                        </p>
                                        <h4>Nicholas<span>London, UK</span></h4>
                                    </div>
                                </div>

                                <div class="carousel-item ">
                                    <div class="top-top">
                                        <h2>Our Users Speack volumes us</h2>
                                        <p>Poll4Dates is a quick and easy way to find my friend’s availability
                                            for both small and large events. It’s super user-friendly and makes
                                            identifying the winning date really simple. I recommend Poll4Dates to
                                            anyone looking to minimize discussions back and forth and maximize the
                                            number of people at the party!
                                        </p>
                                        <h4>Sonja<span>Reykjavík, Iceland</span></h4>
                                    </div>
                                </div>

                                <div class="carousel-item ">
                                    <div class="top-top">
                                        <h2>Our Users Speack volumes us</h2>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry. Lorem Ipsum has been the industry's standard dummy text ever
                                            since the 1500s, when an unknown printer took a galley of type and
                                            scrambled it to make a type
                                            specimen book. It has survived not only five centuries.
                                        </p>
                                        <h4>David Spark<span>manager</span></h4>
                                    </div>
                                </div>
                            </div>

                            <div class="btm-btm">
                                <ul class="list-unstyled carousel-indicators">
                                    <li data-bs-target="#carousel-example-generic" data-bs-slide-to="0" class="active"></li>
                                    <li data-bs-target="#carousel-example-generic" data-bs-slide-to="1"></li>
                                    <li data-bs-target="#carousel-example-generic" data-bs-slide-to="2"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="padd-section">
        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">
                <h2>Contact</h2>
            </div>

            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-3 col-md-4">
                    <div class="info">
                        <div>
                            <i class="bi bi-geo-alt"></i>
                            <p>A108 Adam Street<br>New York, NY 535022</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <p>info@example.com</p>
                        </div>

                        <div>
                            <i class="bi bi-phone"></i>
                            <p>+1 5589 55488 55s</p>
                        </div>
                    </div>

                    <div class="social-links">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-5 col-md-8">
                    <div class="form">
                        <form action="" method="post" role="form" class="php-email-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                    required>
                            </div>

                            <div class="form-group mt-3">
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Your Email" required>
                            </div>

                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject"
                                    placeholder="Subject" required>
                            </div>

                            <div class="form-group mt-3">
                                <textarea class="form-control" name="body" rows="5" placeholder="Message"
                                    required>
                                </textarea>
                            </div>

                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">
                                    {% if messages %}
                                        {% for message in messages %}
                                            {{message}}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}