{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<main>
    <section class="inner-page pt-4 mt-5">
        <div class="container col-md-12 mt-5">
            <div class="shadow card mb-5 bg-white rounded col-md-4 mx-auto p-0">
                <div class="card-header" style="background-color: #71c55d; color: white;">
                    <h3 class="text-center">
                        {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
                    </h3>

                </div>
                <div class="card-body">
                    {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.
                        Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                    {% else %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_password1" class="form-label"><i class="bi bi-lock"></i> New Password</label>
                            <input class="form-control" type="password" name="password1" id="id_password1" required>
                            {% if form.errors and 'password1' in form.errors %}
                            {% for error in form.errors.password1 %}
                            <p style="color: red">{{ error|escape }}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="id_password2" class="form-label"><i class="bi bi-lock"></i> New Password
                                (again)</label>
                            <input class="form-control" type="password" name="password2" id="id_password2" required>
                        </div>
                        <input class="btn-get-started" type="submit" name="action"
                            value="{% trans 'change password' %}" />
                        {% if form.errors and 'password2' in form.errors %}
                        {% for error in form.errors.password2 %}
                        <p style="color: red">{{ error|escape }}</p>
                        {% endfor %}
                        {% endif %}
                    </form>
                    {% endif %}
                </div>

            </div>
        </div>
    </section>
</main>
{% endblock %}