{% extends 'polls/base.html' %}
{% block title %} <title>{{poll}}</title>{% endblock %}
{% load static %}
{% load polls_tags %}
{% block content %}
<main id="main">
    <section class="inner-page pt-4 mt-5" style="height: 1500px">
        <div class="container col-md-12 mt-5">
            <div class="row justify-content-between col-md-11 p-0 mx-auto mt-5 position-relative">
                <div class="col-md-7 shadow rounded mt-5 p-5">
                    <div class="row justify-content-between">
                        <div class="col-9">
                            <h4>{{poll}}</h4>
                            <p>Organizer: {{poll.event_organizer}}</p>
                        </div>
                        <div class="col-2">
                            <div id="options-div" class="d-none position-absolute"
                                style="z-index: 100; background-color: white; margin-left: -180px; margin-right: 10px;">
                                <ul style="list-style-type: none; width: 250px; border: 1px solid #92d283;"
                                    class="p-0 mb-0">
                                    {% if not request.GET.id %}
                                        <li id="editTitle" style="border: 1px solid white" class="p-3">
                                            <i class="bi bi-tag-fill"></i> Edit Name
                                        </li>
                                        <li id="editDetails" style="border: 1px solid white" class="p-3">
                                            <i class="bi bi-justify-left"></i> Edit Details
                                        </li>
                                        <li id="editLocation" style="border: 1px solid white;" class="p-3">
                                            <i class="bi bi-geo-alt-fill"></i> Update Location
                                        </li>
                                        <li id="addDate" style="border: 1px solid white" class="p-3">
                                            <i class="bi bi-calendar-plus-fill"></i> Add Date/Time
                                        </li>
                                        <li id="removeDate" style="border: 1px solid white" class="p-3">
                                            <i class="bi bi-calendar-minus-fill"></i> Remove Date/Time
                                        </li>
                                        <li id="editRsvp" style="border: 1px solid white" class="p-3">
                                            <i class="bi bi-calendar2-check-fill"></i> Update RSVP Date
                                        </li>
                                        {% if poll.ended %}
                                            <li id="openPoll" style="border: 1px solid white" class="p-3">
                                                <i class="bi bi-calendar2-check-fill"></i> Re-open Poll
                                            </li>
                                            {% else %}
                                                <li id="closePoll" style="border: 1px solid white" class="p-3">
                                                    <i class="bi bi-dash-circle"></i> Close Poll now
                                                </li>
                                        {% endif %}
                                        <li id="deletePoll" style="border: 1px solid white" class="p-3">
                                            <i class="bi bi-trash3-fill"></i> Delete Poll
                                        </li>
                                            {% else %}
                                            <li id="changeName" style="border: 1px solid white" class="p-3">
                                                <i class="bi bi-person"></i> Change name
                                            </li>
                                    {% endif %}
                                </ul>
                            </div>
                            <button style="border: none; background-color: white;">
                                <i class="bi bi-gear" style="color: #71c55d; font-size: 30px;" id="options"></i>
                            </button>
                        </div>

                    </div>

                    {% if poll.event_details%}
                        <p><i class="bi bi-justify-left" style="color: #71c55d;"></i> {{poll.event_details}}</p>
                    {% endif %}
            
                    <p><i class="bi bi-geo-alt-fill" style="color: #71c55d"></i> {{poll.event_location}}</p>
                    {% if poll.ended %}
                        <p class="text-center p-1" style="background-color:#D3D3D3">
                            <i class="bi bi-circle-fill" style="color:#696969"></i>
                            This poll closed on <strong>{{poll.rsvp_by}}</strong>
                        </p>
                        {% else %}
                            <p>
                                <i class="bi bi-circle-fill" style="color:#71c55d"></i>
                                Last day to RSVP is <strong>{{poll.rsvp_by}}</strong>
                            </p>
                    {% endif %}
                </div>

                <div class="mt-5 p-3 pb-4 rounded col-md-4 ml-md-5 mr-0 shadow" style="box-sizing: border-box;">
                    <h3 class="text-center"><i class="bi bi-chat-fill" style="color: #71c55d;"></i> Message</h3>
                    <div class="chat-container mb-5" style="height: 205px;">
                        <div id="messages" class="d-flex flex-column-reverse"
                            style="min-height: 200px; max-height: 200px; overflow-y: scroll; position: relative;">
                        </div>
                        <div class="row justify-content-between mb-5 align-items-center">
                            <div class="col-9 ml-3">
                                <textarea id="messageContent" class="form-control" rows="2"
                                placeholder="Leave a message"></textarea>
                            </div>
                            <div class="col-3">
                                <button id="message" style="border: none; background-color: white;">
                                    <i class="bi bi-send-fill fa-2x" style="color: #71c55d; font-size: 20px"></i>
                                </button>
                            </div>
                            
                        </div>
                    </div>

                </div>
            </div>
            {% if user.is_authenticated and user == poll.creator %}
                <div class="accordion accordion-flush shadow rounded p-0 col-md-11 mx-auto d-flex mt-5"
                    id="accordionExample">
                    <div class="col-md-6 p-3 text-center accordion-item" style=" border-right: 2px solid #71c55d;">
                        <h3 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne"
                                style="border: none; background-color: white;">
                                Add Guests </button>
                        </h3>

                    </div>
                    <div class="col-md-6 p-3 text-center accordion-item">
                        <h3 class="accordion-header" id="flush-headingTwo">

                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo"
                                style="border: none; background-color: white;">
                                Share with link </button>
                        </h3>
                    </div>
                </div>
                <div class="card col-md-11 mx-auto shadow rounded mt-5 mb-5 p-5 shadow text-center accordion-collapse collapse"
                    id="flush-collapseOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <h3>Add Guests</h3>
                        <p class="text-left">Enter your guest’s name and email address and we’ll send them an email
                            with a unique link to your poll. Your guests will not have to sign in.<br><br>
                            Preview your guest list in the "Send to" section below. If you need to edit any of your
                            guests just click on the name or email and make the changes you need. Before you hit 
                            "SEND" you can opt to store the guest list as a guest group in case you want to use it again later.<br><br>
                            You can paste a list of contacts if you seperate them with a comma, e.g. Ann Smith
                            ann@email.com, Ron ron.w@email.com, etc.

                        </p>
                        <form id="addGuestForm" method="post" action="{% url 'polls:invite' poll.pk %}">
                            <div class="row justify-content-between">
                                {% csrf_token %}
                                <input id="guest-list" type="hidden" name="guest_list">
                                <div class="col-md-7 mb-5 mb-md-0">
                                    <label class="float-left"><i class="bi bi-person" style="color: #71c55d;"></i>
                                        name email
                                    </label>
                                    <input type="text" class="form-control" name="guest" id="invite-guest">
                                </div>

                                <div style="background-color: #D3D3D3;float: right;" class="p-3 text-left rounded col-md-4">
                                    <strong>send to:</strong><br>
                                    <div class="mb-2" id="guests">
                                    </div>
                                    <button id="send-invite" class="btn-get-started scrollto float-right mb-0">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card col-md-11 mx-auto shadow rounded mt-5 mb-5 p-md-5 shadow text-center accordion-collapse collapse"
                    id="flush-collapseTwo" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <h3>Share the poll with a link</h3>
                        <p class="text-left">Copy the shareable link and share it with your guests on social media,
                            with sms, or anyhow you like.
                        </p>
                        <div class="col-md-6 mx-auto">
                            <div style="background-color: #D3D3D3;" class="p-4 text-left rounded">
                                <a href="{% url 'polls:vote_link' poll.token %}">
                                    <p id="toshare">Please mark your availability for: {{poll}}<br>
                                        http://127.0.0.1:8000{% url 'polls:vote_link' poll.token %}
                                    </p>
                                </a>
                            </div>
                            <button class="btn-get-started scrollto mt-3" id="copy">Copy to Share</button>
                        </div>

                        <p class="text-left">
                            Anyone with the link can add themselves to the poll and vote (the 20 guest limit still
                            applies unless the poll is Premium) <br><br>
                            When your guests add themselves to your poll they will add a name and optionally include
                            their email address. Please note that if they opt not to include their email address they won’t
                            receive any notifications regarding the poll, e.g. change in location, final date picked etc.
                        </p>
                    </div>
                </div>
            {% endif %}
            <div class="card mt-5 mb-5 py-5 p-md-5 col-md-8 mx-auto shadow d-md-flex flex-row justify-content-between"
            style="display: block;">
            <div class="col-md-8 mr-3">
                <p>Check the box to mark your preference for each date.<br>
                    The option is yes <i class="bi bi-check2" style="color: #71c55d;"></i> or leave
                    empty.<br> Time zone: "Africa/Cairo".
                </p>
                <div class="d-flex flex-row mb-5">
                    <button id="votes-op" class="mr-5 options">Votes</button>
                    <button id="calendar-op" class="mr-5 options">Calendar</button>
                    <button id="table-op" class="mr-5 options">Table</button>
                </div>
                <div id="votes-body" class="">
                    <h3 class="ml-2 mb-3">Votes</h3>
                    {% for timeslot in poll.time_slots.all %}
                        <div class="d-flex flex-row">
                            {% if not user.is_authenticated %}
                                <div class="form-check mt-3 mr-3">
                                    <input onchange="updateChoice(this)" id="choice-{{timeslot.id}}" type="checkbox"
                                        class="float-left mt-3" style="transform: scale(1.5);accent-color: green;"
                                        value="{{timeslot.id}}">
                                </div>
                            {% endif %}
                            <div class="d-inline col-md-9">
                                <span>
                                    {{timeslot.day|date:"D, M j"}} @ {{timeslot.start|date:"P"}} -
                                    {{timeslot.end|date:"P"}}
                                </span>
                                <div class="progress" style="height: 40px; border-radius: 50px; font-size: 16px;">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="{{timeslot.votes_count}}"
                                        aria-valuemin="0" aria-valuemax="{{poll.max_vote}}"
                                        style="width: {% widthratio timeslot.votes_count poll.max_vote 100 %}%; background-color: #71c55d;">
                                        &#10003; {{timeslot.votes_count}}
                                    </div>
                                </div><br>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div id='calendar' class="d-none"></div>
            </div>
            <div class="modal fade show" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #71c55d; color: white;">
                            <h5 class="modal-title text-white" id="editModalLabel"></h5>
                            <button id="closeModal" type=" button" class="close" data-dismiss="modal"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form id="edit-form" method="post" action="edit/">
                            <div class="modal-body" id="modalContent">
                                {% csrf_token %}
                                <input type="hidden" name="_method" value="put">
                            </div>
                            <div class="modal-footer">
                                <button type="submit" id="changes" class="btn btn-get-started"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}

{% block extrascripts %}
    <script>
        var event_name = "{{poll.event_name}}";
        var event_details = "{{poll.event_details}}";
        var event_location = "{{poll.event_location}}";
        var event_rsvp = "{{poll.rsvp_by}}";
        var slots = '{{poll.time_slots.all|queryset_as_json}}';
        var delete_url = "{% url 'polls:delete' poll.pk %}";
        var poll_pk = "{{poll.pk}}";
        var messagebtn = document.getElementById('message');
        var messages = document.getElementById('messages');

        document.addEventListener("DOMContentLoaded", function () {
            const chatSocket = new WebSocket(
                `ws://${window.location.host}/ws/chat/${poll_pk}/`
            );

            chatSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                messages.insertAdjacentHTML('afterbegin', `<div>
                    <p>${data.message}</p>
                </div>`)
                console.log(data);
            };

            chatSocket.onClose = function(e) {
                console.log("Error, connection closed");
            };

            messagebtn.addEventListener('click', function () {
                const messageInput = document.getElementById('messageContent')
                const text_message = messageInput.value;
                chatSocket.send(JSON.stringify({
                    'message': text_message
                }));
                messageInput.value = ''
            })

            var copybtn = document.getElementById('copy')
            if (copybtn) {
                copybtn.addEventListener('click', () => {
                    var text = document.getElementById("toshare").innerText
                    navigator.clipboard.writeText(text)
                })
            }
        });
    </script>
    <script src="{% static 'events/js/poll_settings.js' %}"></script>
    <script src="{% static 'events/js/invite_guests.js' %}"></script>
    <script src="{% static 'fullcalendar/dist/index.global.js' %}"></script>
    <script src="{% static 'events/js/votes_options.js' %}"></script>
{% endblock extrascripts %}