{% load socialaccount %}
{% load static %}
{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<li>
    <a title="{{brand.name}}" class="socialaccount_provider {{provider.id}} {{brand.id}}"
        href="{% provider_login_url provider.id openid=brand.openid_url process=process %}">{{brand.name}}</a>
</li>
{% endfor %}
{% endif %}
<li>
    <a id="google-login" style="color: black; text-decoration: none; background-color: white; border-radius: 50px;"
        class="p-3" title="{{provider.name}}" class="socialaccount_provider {{provider.id}}"
        href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
        <button class="px-3" style="border: none; background-color: white;">
            <img width="30px" class="mr-3" src="{% static 'events/img/icons/'|add:provider.name|lower|add:'.png' %}">
            Sign in with {{provider.name}}
        </button>
    </a>

</li>
{% endfor %}