{% extends 'base.html' %}
{% load i18n %}

{% block title %}<title>Sign Up</title>>{% endblock %}

{% block content %}
<main>
    <section class="inner-page pt-4 mt-5">
        <div class="container col-md-12 mt-5">
            <div class="shadow card mb-5 bg-white rounded col-md-4 mx-auto p-0">
                <div class="card-header" style="background-color: #71c55d; color: white;">
                    <h3 class="text-center">{% trans "Sign Up" %}</h3>
                </div>
                <div class="card-body text-center">
                    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>
                        {% endblocktrans %}</p>
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-error">
                        <strong style="color: red">{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    <form class="signup" id="signup_form" method="post" action="{% url 'accounts:register' %}">
                        {% csrf_token %}
                        {{form}}
                        {% comment %} <div class="row justify-content-between mb-3">
                            <div class="col-md-6">
                                <label class="form-label" for="id_first_name">
                                    <i class="bi bi-person"></i> First Name
                                </label>
                                <input type="text" name="first_name"
                                    value="{% if form.first_name.value %}{{form.first_name.value}}{% endif %}"
                                    autocomplete="first_name" minlength="1" maxlength="150" required id="id_first_name"
                                    class="form-control">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="id_last_name">
                                    <i class="bi bi-person"></i> Last Name
                                </label>
                                <input type="text" name="last_name"
                                    value="{% if form.last_name.value %}{{form.last_name.value}}{% endif %}"
                                    autocomplete="first_name" minlength="1" maxlength="150" required id="id_last_name"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="id_username">
                                <i class="bi bi-person"></i> Username
                            </label>
                            <input type="text" name="username"
                                value="{% if form.username.value %}{{form.username.value}}{% endif %}"
                                autocomplete=" username" minlength="1" maxlength="150" required id="id_username"
                                class="form-control">
                            {% if form.errors and 'username' in form.errors %}
                            {% for error in form.errors.username %}
                            <p style="color: red">{{ error|escape }}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="id_email"><i class="bi bi-envelope-at"></i> E-mail
                                (optional):</label>
                            <input type="email" value="{% if form.email.value %}{{form.email.value}}{% endif %}"
                                name="email" id="id_email" class="form-control" required>
                            {% if form.errors and 'email' in form.errors %}
                            {% for error in form.errors.email %}
                            <p style="color: red">{{ error|escape }}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="id_password1"><i class="bi bi-lock"></i> Password</label>
                            <input class="form-control" type="password" name="password1" autocomplete="new-password"
                                required id="id_password1">
                            {% if form.errors and 'password1' in form.errors %}
                            {% for error in form.errors.password1 %}
                            <p style="color: red">{{ error|escape }}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="id_password2"><i class="bi bi-lock"></i> Password
                                (again):</label>
                            <input class="form-control" type="password" name="password2" autocomplete="new-password"
                                required id="id_password2">
                            {% if form.errors and 'password2' in form.errors %}
                            {% for error in form.errors.password2 %}
                            <p style="color: red">{{ error|escape }}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %} {% endcomment %}
                        <button type="submit" class="btn-get-started col-md-4">Sign Up &raquo;</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}


Register Template
<form method="POST" action={% url "accounts:register" %}>
    {% csrf_token %}
    {{form}}
    <button>Submit</button>
</form>