<div id="logo">
    <h1><a href="{% url 'polls:index' %}">Poll<span>4</span>Dates</a></h1>
</div>

<hr style="font-size: 20px; color: #71c55d;">

<div class="mx-auto text-center">
    <h5 class="mb-3">Hello, You got a new message from your website 
        <a href="{% url 'polls:index' %}">Poll<span>4</span>Dates</a>
         and here are the details of the message:
    </h5>
    <span><strong>From: </strong> {{data.name}} (<i>{{data.email}}</i>)</span><br>
    <span><strong>Subject: </strong> {{data.subject}} </span><br>
    <strong>Message: </strong> <pre> {{data.message}} </pre><br>
   
</div>

<hr style="font-size: 20px; color: #71c55d;">
